# Mac OS X resource fork files
._*
__MACOSX

# Mac OS X Desktop Services Store files
.DS_Store

# Node.js module dependencies
node_modules/

# npm debug log
npm-debug.log

# Test code
test_code/

# Java class files
target/

# The challenge description
/*.pdf
